@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --primary-color: rgb(11, 5, 66);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 100vw;
    height: 91%;
    background-image: url("Catfish-Growing..jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cover-container {
    position: absolute;
    width: 100vw;
    height: inherit;
    background-color: rgba(0, 0, 0, .77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 350px 300px;
    gap: 50px;
    width: 1100px;
    position: absolute;
    top: 5%;
    margin-left: 50px;
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: 700;
    width: 190px;
    position: absolute;
    /* right: 20%; */
}

hr {
    background-color: var(--primary-color);
    height: 0;
    width: 100%;
    position: absolute;
    top: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.top {
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}
/*  */

.text {
    margin-top: 10px;
    width: 300px;
    position: absolute;
    left: 10%;
}

.second {
    color: white;
}

.contact_us {
    width: 200px;
    height: 60px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    margin-top: 10px;
    border-radius: .5em;
    letter-spacing: .88px;
}

.contact_us:hover {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    transition: all .2s ease;
}

.icons {
    width: 1105px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.fa-farm {
    /* width: 100px;
    height: 100px; */
    margin-top: 10px;
}

.icon-container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 750px) {
     .nav {
        width: 350px;
        gap: 0px;
     }

     #main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        cursor: pointer;
        transition: all .5s ease;
        position: fixed;
        top: 0px;
        right: 30px;
    }
    
    .menu-burger {
        width: 50px;
        height: 6px;
        background-color: white;
        border-radius: 1em;
        transition: all .5s ease;
    
    }
    
    .menu-burger::before,
    .menu-burger::after {
        content: " ";
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: white;
        border-radius: 1em;
        transition: all .5s ease;
    }
    
    .menu-burger::before {
        transform: translateY(-16px);
    }
    .menu-burger::after {
        transform: translateY(16px);
    }
    
    li {
        /* position: fixed;
        right: -100px; */
        display: none;
    }

    
    .open .menu-burger{
        transform: translate(-50px);
        background-color: transparent;
    }
    
    .open .menu-burger::before{
        transform: rotate(45deg) translate(35px, -35px);
    }
    .open .menu-burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
    }

   .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
   }

    .icons {
        display: grid;

    }

    .icon1 {
        width: 210px;
        margin-bottom: 50px;
    }
    .icon2 {
        width: 210px;
        margin-bottom: 50px;
    }
    .icon3 {
        width: 210px;
        margin-bottom: 50px;
    }
    .icon4 {
        width: 210px;
        margin-bottom: 50px;
    }


}

@media screen and (min-width: 751px){
    .nav {
        width: 85vw;
        gap: 0px;
     }
    .menu-burger li {
        list-style-type: none;
        margin-left: 20px;
        color: white;
        cursor: pointer;
        font-size: .9em;
        display: inline-block;
    }

    #main-menu {
        width: 400px;
        /* height: 90px; */
        float: right;
    }
        

.menu-burger a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
  }

.menu-burger a:hover {
    color: var(--primary-color);
    transition: all .2s ease;
}
}